<h1>Todos los carretes</h1>


<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>


        </tr>   
    </thead>

    <tbody>

        <%= @parties.each do |party| %>
            <tr>
            <td> <%=party.id %></td>
            <td> <%=party.title %></td>
            <td> <%= link_to "Ver mas", party_path(party.id) %></td>
    

            </tr>
        <% end %>


    </tbody>
</table>

<p> <%= link_to "Agregar un carrete", parties_new_path%> </p>