

<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>



<header>
<h1>Nuevo Carrete </h1>

</header>


<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a id="r" <%= link_to "Volver", :back %>>  </a>
</div>

<div class="lista">

<div class="card">

</div>

<div class="card">
<%= form_with(model: @party , method: :post) do |form| %>

    <div class="field" >
        <%= form.label 'Nombre de la fiesta'%>
        <%= form.text_field :title%>
    </div>
    <div class="field" >
        <%= form.label 'Descripción' %>
        <%= form.text_area :description%>
    </div>
    <div class="field" >
        <%= form.label 'Dirección'%>
        <%= form.text_field :address%>
    </div>
    <div class="field" >
        <%= form.label 'Foto'%>
        <%= form.url_field :picture%>
    </div>
    <div class="field" >
        <%= form.label 'Costo extra'%>
        <%= form.number_field :extra_cost%>
    </div>
    <div class="field" >
        <%= form.label 'Capacidad maxima'%>
        <%= form.number_field :max_cap%>
    </div>
    <div class="field" >
        <%= form.label 'Fecha de la fiesta'%>
        <%= form.datetime_field :date%>
    </div>
    <div class="field" >
        <%= form.label 'Fecha fin de la recaudación'%>
        <%= form.datetime_field :date_final%>
    </div>         
    <div class="field" >
        <%= form.label 'Servicio'%>
        <%= form.collection_select :service, @services.order(:name),:id,:name, include_blank: true%>
    </div>

    <div class="action" >
        <%= form.submit %>
    </div>

<% end %>
</div>

<div class="card">
<p> <%= link_to "Todos los carretes", parties_index_path%> </p>
</div>
</div>



</body>
</html>


