
<p id="notice"> <%= notice %></p>



<header>
<h1>  <%=@party.title %> </h1>
</header>

<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a id="r" <%= link_to "Volver", :back %>>  </a>
</div>

<div class="lista">
<%= image_tag(@party.picture, alt: "like", class: "like_image_for_index") %>

<div class="card">
<table>

    <tbody>
        <tr>
        <td> <strong> Id: </strong></td>
        <td> <%= @party.id %></td>
        </tr>
        <tr>
        <td> <strong> Id creador: </strong></td>
        <td> <%= @party.id_creator %></td>
        </tr>
        <tr>
        <td> <strong> Titulo: </strong></td>
        <td> <%= @party.title %></td>
        </tr>
        <tr>
        <td> <strong> Descripción: </strong></td>
        <td> <%=@party.description %></td>
        </tr>
        <tr>
        <td> <strong> Dirección: </strong></td>
        <td> <%=@party.address %></td>
        </tr>
        <tr>
        <td> <strong> Id comuna: </strong></td>
        <td> <%=@party.id_comuna %></td>
        </tr>                      
        <tr>
        <td> <strong> Costo base (sin servicios): </strong></td>
        <td> <%=@party.base_cost %></td>
        </tr>
        <tr>
        <td> <strong> Costo total: </strong></td>
        <td> <%=@party.total_cost %></td>
        </tr>
        <tr>
        <td> <strong> Capacidad maxima: </strong></td>
        <td> <%=@party.max_cap %></td>
        </tr>          
        <tr>
        <td> <strong> Fecha del carrete: </strong></td>
        <td> <%=@party.date %></td>
        </tr>  
        <tr>
        <td> <strong> Fecha limite para buscar asistentes: </strong></td>
        <td> <%=@party.date_final %></td>
        </tr>         
    </tbody>
</table>

</div>

<div class="card">

<% if @party.id_creator != current_user.id %>
  <p> <%= link_to "Postular a carrete", interesteds_unew_path(:id => @party.id)%> </p>
<% end %>


<% if @party.id_creator == current_user.id || current_admin %>
  <p> <%= link_to "Ver estado los interesados en el carrete", interesteds_myinteresteds_path(:id => @party.id)%> </p>
  <p> <%= link_to "Editar carrete", party_edit_path%> </p>
  <p> <%= link_to "Eliminar carrete", party_path, method: :delete%> </p>
<% end %>


<p> <%= link_to "Todos los carretes", parties_index_path%> </p>

</div>
</div>



</body>
</html>




