<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<div class="header">
  <h1>Sign up </h1>
  <h2><%= render "admins/shared/error_messages", resource: resource %><h2>
</div>
<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>
  <a id="r" <%= link_to "Volver", :back %>>  </a>
</div> 


<div class="card">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

<div class="card2">
<table>
<tr>
  <div class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </div>
</tr>
  
<tr>
  <div class="field">
    <td><%= f.label :password %></td>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </div>
</tr>
  
<tr>
  <div class="field">
    <td><%= f.label :password_confirmation %><br /></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
  </div>
</tr>
  
  </table>
  <br/>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <br/>
</tr>
<% end %>
</div>
  
<div class="card2">
<%= render "admins/shared/links" %>  
</div>
</div>
