<h1>Editar post  </h1>

<h4><%= notice%> </h4>

<%= form_with(model: @post , method: :patch, url: post_update_path(@post.id) ) do |form| %>

    <div class="field" >
        <%= form.label :title%>
        <%= form.text_field :title%>
    </div>

    <div class="field" >
        <%= form.label :content%>
        <%= form.text_field :content%>
    </div>

    <div class="field" >
        <%= form.label :picture%>
        <%= form.url_field :picture%>
    </div>

    <div class="action" >
        <%= form.submit %>
    </div>

<% end %>

<p> <%= link_to "Volver al post", post_path(@post.id)%> </p>


