<h1>Todos las relaciones de interesados en asistir a fiestas </h1>


<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Id Usuario </th>
            <th> Id Carrete </th>


        </tr>   
    </thead>

    <tbody>

        <%= @interesteds.each do |interested| %>
            <tr>
            <td> <%=interested.id %></td>
            <td> <%=interested.user_id %></td>
            <td> <%=interested.party_id %></td>
            <td> <%= link_to "Ver mas", interested_path(interested.id) %></td>
    

            </tr>
        <% end %>


    </tbody>
</table>

<p> <%= link_to "Agregar un usuario", interesteds_new_path%> </p>