<p id="notice"> <%= notice %></p>

<header>
<h1> Relacion de  id <%=@interested.id %> </h1>
</header>

<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%= interesteds_index_path%> style="float:right"> Volver</a>
</div>

<div class="lista">

<div class="card">
<table>

    <tbody>
        <tr>
        <td> <strong> Id de usuario interesado en carrete: </strong></td>
        <td> <%= @interested.user_id %></td>
        </tr>
        <tr>
        <td> <strong> Id de carrete: </strong></td>
        <td> <%= @interested.party_id %></td>
        </tr>
        <tr>
        <td> <strong> Dinero dispuesto a pagar: </strong></td>
        <td> <%=@interested.willing_pay %></td>
        </tr>
        <tr>
        <td> <strong> Codigo para entrar al carrete: </strong></td>
        <td> <%=@interested.code %></td>
        </tr>       
    </tbody>
</table>
</div>

<div class="card">

<p> <%= link_to "Eliminar relación", interested_path, method: :delete%> </p>

<p> <%= link_to "Volver al listado", interesteds_index_path%> </p>

</div>
</div>



</body>
</html>





