

<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>



<div class="header">
<h1>Editar administrador  </h1>
</div>


<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%= admin_path(@admin.id)%> style="float:right"> Volver</a>
</div>

<div class="lista">

<div class="card">
<h4><%= notice%> </h4>
</div>


<%= form_with(model: @admin , method: :patch, url: admin_update_path(@admin.id) ) do |form| %>
    <div class="card">
    <div class="field" >
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>
   
    <div class="field" >
        <%= form.label :password%>
        <%= form.text_field :password%>
    </div>    

    <div class="action" >
        <%= form.submit %>
        </div>
        </div>
    
    <% end %>
    
    <div class="card">
    <p> <%= link_to "Volver al perfil de administrador", admin_path(@admin.id)%> </p>
    </div>
    </div>
    
    
    <div class="footer">
        <p>Made with &#10084;&#65039; by Sebastian Villablanca  & Javier Zagal.</p>
      </div>
    </body>
    </html>
    
