<h1>Todos los admins</h1>


<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>


        </tr>   
    </thead>

    <tbody>

        <%= @admins.each do |admin| %>
            <tr>
            <td> <%=admin.id %></td>
            <td> <%=admin.name %></td>
            <td> <%= link_to "Ver mas", admin_path(admin.id) %></td>
    

            </tr>
        <% end %>


    </tbody>
</table>

<p> <%= link_to "Agregar un admin", admins_new_path%> </p>