<p id="notice"> <%= notice %></p>

<div class="header">
<h1> Perfil del administrador <%=@admin.name %> </h1>
</div>

<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%= admins_index_path%> style="float:right"> Volver</a>
</div>

<div class="lista">



<div class="card">
<table>

    <tbody>
        <tr>
        <td> <strong> Id: </strong></td>
        <td> <%= @admin.id %></td>
        </tr>
        
        <tr>
        <td> <strong> Nombre: </strong></td>
        <td> <%= @admin.name %></td>
        </tr>

        <tr>
        <td> <strong> Password: </strong></td>
        <td> <%=@admin.password %></td>
        </tr>         
    </tbody>
</table>
</div>

<div class="card">

<p> <%= link_to "Editar administrador", admin_edit_path%> </p>
<p> <%= link_to "Eliminar administrador", admin_path, method: :delete%> </p>


<p> <%= link_to "Volver al listado", admins_index_path%> </p>

</div>
</div>


<div class="footer">
    <p>Made with &#10084;&#65039; by Sebastian Villablanca  & Javier Zagal.</p>
  </div>
</body>
</html>








