<h1>Todos los servicios</h1>


<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>


        </tr>   
    </thead>

    <tbody>

        <%= @services.each do |service| %>
            <tr>
            <td> <%=service.id %></td>
            <td> <%=service.name %></td>
            <td> <%= link_to "Ver mas", service_path(service.id) %></td>
    

            </tr>
        <% end %>


    </tbody>
</table>

<p> <%= link_to "Agregar un servicio", services_new_path%> </p>