

<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>

<header>
<h1>Servicios de <%=@user.name%> </h1>

<%= @services %>
</header>

<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%= home_path %> style="float:right"> Volver</a>
</div>


<div class="lista">
<div class="card">
<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>


        </tr>   
    </thead>

    <tbody>

        <% @services.each do |service| %>
            <tr>
            <td> <%=service.id %></td>
            <td> <%=service.id_creador %></td>
            <td> <%=service.name %></td>
            <td> <%= link_to "Ver mas", service_path(service.id) %></td>
            </tr>
        <% end %>


    </tbody>
</table>
</div>

<div class="card">
<p> <%= link_to "Agregar un carrete", parties_new_path%> </p>
<p> <%= link_to "Volver a inicio", home_path %> </p>
</div>
</div>





</body>
</html>





