<h1>Nuevo Servicio </h1>

<h4><%= notice%> </h4>

<%= form_with(model: @service , method: :post) do |form| %>

    <div class="field" >
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field" >
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>

    <div class="field" >
        <%= form.label :max_cap%>
        <%= form.number_field :max_cap%>
    </div>

    <div class="field" >
        <%= form.label :picture%>
        <%= form.url_field :picture%>
    </div>

    <div class="field" >
        <%= form.label :price%>
        <%= form.number_field :price%>
    </div>

    <div class="field" >
        <%= form.label :stars%>
        <%= form.number_field :stars%>
    </div>
        
    <div class="action" >
        <%= form.submit %>

    </div>

<% end %>

<p> <%= link_to "Volver al listado", services_index_path%> </p>