

<h4><%= notice%> </h4>

<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>



<div class="header">
<h1>Nuevo Servicio </h1>

</div>


<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%=  services_index_path%> style="float:right"> Volver</a>
</div>

<div class="lista">

<div class="card">
<h4><%= notice%> </h4>
</div>

<div class="card">

<%= form_with(model: @service , method: :post) do |form| %>

    <div class="field" >
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field" >
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>

    <div class="field" >
        <%= form.label :max_cap%>
        <%= form.number_field :max_cap%>
    </div>

    <div class="field" >
        <%= form.label :picture%>
        <%= form.url_field :picture%>
    </div>

    <div class="field" >
        <%= form.label :price%>
        <%= form.number_field :price%>
    </div>

    <div class="field" >
        <%= form.label :stars%>
        <%= form.number_field :stars%>
    </div>
        
    <div class="action" >
        <%= form.submit %>

    </div>

<% end %>
</div>

<div class="card">

<p> <%= link_to "Volver al listado", services_index_path%> </p>
</div>
</div>


<div class="footer">
    <p>Made with &#10084;&#65039; by Sebastian Villablanca  & Javier Zagal.</p>
  </div>
</body>
</html>