
<h1> Carrete app</h1>
<p> Carrete app es una aplicación en desarrollo para organizar carretes </p>
<p> Sebastian Villablanca - Javier Zagal</p>


<h3> Ver Usuarios </h3>
<p> <%= link_to "Ir a lista de usuarios", users_index_path%> </p>

<h3> Ver Admins </h3>
<p> <%= link_to "Ir a lista de admins", admins_index_path%> </p>

<h3> Ver Comunas </h3>
<p> <%= link_to "Ir a lista de comunas", comunas_index_path%> </p>

<h3> Ver Carretes </h3>
<p> <%= link_to "Ir a lista de carretes", parties_index_path%> </p>

<h3> Ver Servicios </h3>
<p> <%= link_to "Ir a lista de servicios", services_index_path%> </p>

<h3> Ver Usuarios interesados en Carretes</h3>
<p> <%= link_to "Ir a lista de interesados en carretes", interesteds_index_path%> </p>

<h3> Ver Feedbacks de Servicios </h3>
<p> <%= link_to "Ir a lista de feddbacks", feedbacks_index_path%> </p>

<h3> Ver Posts</h3>
<p> <%= link_to "Ir a lista de posts", posts_index_path%> </p>

