<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>



<div class="header">
<h1>Carrete app</h1>
<p> Carrete app es una aplicación en desarrollo para organizar carretes </p>
<p> Sebastian Villablanca - Javier Zagal</p>
</div>

<div class="topnav">
  <a href="#">Inicio</a>

  <a href="#" style="float:right">Volver atras</a>
</div>



<div class="lista">
<div class="card">
    <h2>Ver Usuarios</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de usuarios", users_index_path%> </p>
</div>
<div class="card">
    <h2> Ver Admins</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de admins", admins_index_path%> </p>
</div>
<div class="card">
    <h2>Ver Comunas</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de comunas", comunas_index_path%> </p>
</div>
<div class="card">
    <h2>Ver Carretes</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de carretes", parties_index_path%> </p>
</div>
<div class="card">
    <h2>Ver Servicios </h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de servicios", services_index_path%> </p>
</div>
<div class="card">
    <h2>Ver Usuarios interesados en Carretes</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de interesados en carretes", interesteds_index_path%> </p>
</div>
<div class="card">
    <h2>Ver Feedbacks de Servicios</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de feddbacks", feedbacks_index_path%> </p>
</div>
<div class="card">
    <h2>Ver Posts</h2>
    <p>Para ver la lista de todos los usuarios registrados, haz click en el siguiente boton.</p>
    <p> <%= link_to "Ir a lista de posts", posts_index_path%> </p>
</div>
</div>


<div class="footer">
    <p>Made with &#10084;&#65039; by Sebastian Villablanca  & Javier Zagal.</p>
  </div>
</body>
</html>

