<h1>Todos los feedbacks</h1>


<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>


        </tr>   
    </thead>

    <tbody>

        <%= @service_feedbacks.each do |service_feedback| %>
            <tr>
            <td> <%=service_feedback.service_id %></td>
            <td> <%=service_feedback.comentario %></td>
            <td> <%= link_to "Ver mas", service_feedback_path(service_feedback.id) %></td>
    

            </tr>
        <% end %>


    </tbody>
</table>

<p> <%= link_to "Agregar un feedback", service_feedbacks_new_path%> </p>