<h1>Nuevo Feedback </h1>

<h4><%= notice%> </h4>

<%= form_with(model: @service_feedback , method: :post) do |form| %>

    <div class="field" >
        <%= form.label :comment%>
        <%= form.text_field :comment%>
    </div>
    <div class="field" >
        <%= form.label :stars%>
        <%= form.number_field :stars%>
    </div>
    <div class="field" >
        <%= form.label :service_id%>
        <%= form.number_field :service_id%>
    </div>
    

<% end %>

<p> <%= link_to "Volver al listado", service_feedbacks_index_path%> </p>