

<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>



<div class="header">
<h1>Nuevo Feedback </h1>

</div>


<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%=  feedbacks_index_path%> style="float:right"> Volver</a>
  </div>

  <div class="lista">
  
  <div class="card">
  <h4><%= notice%> </h4>
  </div>
  
  <div class="card">


<%= form_with(model: @feedback , method: :post) do |form| %>

    <div class="field" >
        <%= form.label :comment%>
        <%= form.text_area :comment%>
    </div>
    <div class="field" >
        <%= form.label :stars%>
        <%= form.number_field :stars%>
    </div>
    <div class="field" >
        <%= form.label :service_id%>
        <%= form.number_field :service_id%>
    </div>
   
    <div class="action" >
        <%= form.submit %>

    </div>

<% end %>
</div>

<div class="card">
<p> <%= link_to "Volver al listado", feedbacks_index_path%> </p></div>
</div>


<div class="footer">
    <p>Made with &#10084;&#65039; by Sebastian Villablanca  & Javier Zagal.</p>
  </div>
</body>
</html>


