<h1>Nuevo Feedback </h1>

<h4><%= notice%> </h4>

<%= form_with(model: @feedback , method: :post) do |form| %>

    <div class="field" >
        <%= form.label :comment%>
        <%= form.text_area :comment%>
    </div>
    <div class="field" >
        <%= form.label :stars%>
        <%= form.number_field :stars%>
    </div>
    <div class="field" >
        <%= form.label :service_id%>
        <%= form.number_field :service_id%>
    </div>
   
    <div class="action" >
        <%= form.submit %>

    </div>

<% end %>

<p> <%= link_to "Volver al listado", feedbacks_index_path%> </p>