<p id="notice"> <%= notice %></p>

<header>
<h1> Feedback <%=@feedback.id %> </h1>
</header>

<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a href= <%= feedbacks_index_path%> style="float:right"> Volver</a>
</div>

<div class="lista">

<div class="card">
<table>

    <tbody>
        <tr>
        <td> <strong> Comentario: </strong></td>
        <td> <%= @feedback.comment %></td>
        </tr>
        <tr>
        <td> <strong> Estrellas: </strong></td>
        <td> <%= @feedback.stars %></td>
        </tr>
        <tr>
        <td> <strong> Id de servicio: </strong></td>
        <td> <%=@feedback.service_id %></td>
        </tr>

    </tbody>
</table>
</div>

<div class="card">

<p> <%= link_to "Editar feedback", feedback_edit_path%> </p>

<p> <%= link_to "Eliminar feedback", feedback_path, method: :delete%> </p>


<p> <%= link_to "Volver al listado", feedbacks_index_path%> </p>

</div>
</div>



</body>
</html>

