<html>
<head>
<%= stylesheet_link_tag "application" %>
</head>

<body>



<header>
<h1>Editar usuario  </h1>
</header>


<div class="topnav">
  <a href= <%= home_path %> >Inicio</a>

  <a id="r" <%= link_to "Volver", :back %>>  </a>
</div>

<div class="lista">

<div class="card">
<h4><%= notice%> </h4>
</div>

<%= form_with(model: @user , method: :patch, url: user_update_path(@user.id) ) do |form| %>
    <div class="card">
    <div class="field" >
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>
    
    <div class="field" >
        <%= form.label :age%>
        <%= form.number_field :age%>
    </div>
    <div class="field" >
        <%= form.label :phone%>
        <%= form.text_field :phone%>
    </div>
    <div class="field" >
        <%= form.label :picture%>
        <%= form.url_field :picture%>
    </div>
    <div class="field" >
        <%= form.label :id_comuna%>
        <%= form.number_field :id_comuna%>
    </div>
    <div class="field" >
        <%= form.label :service_enable%>
        <%= form.text_field :check_box%>
    </div>
    <div class="field" >
        <%= form.label :password%>
        <%= form.text_field :password%>
    </div>    
    <div class="action" >
        <%= form.submit %>

    </div>
    </div>

<% end %>

<div class="card">
<p> <%= link_to "Volver al perfil de usuario", user_path(@user.id)%> </p>
</div>
</div>



</body>
</html>
